.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.nav-items > ul{
    display: flex;
}
.nav-items>ul>span{
    padding-left:40px ;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}
.restaurantcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.restaurantcardmenu{
    outline: 2px solid transparent;
    margin: 10px;

}
.restaurantcardmenu > img{
    width: 16rem;
    height:14rem;
    border-radius: 10%;
}
.searchBar{
    width:20%;
}
.searchButton{
    width:5%;
    height: 22px;
}