.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.nav-items > ul{
    display: flex;
}
.nav-items>ul>span{
    padding-left:40px ;
}
.nav-items a {
  text-decoration: none; /* Remove underline */
  color: #000; /* Change text color to black (or your desired color) */
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color:aqua ;
    
}
.restaurantcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.restaurantcardmenu{
    outline: 2px solid transparent;
    margin: 10px;

}

.restaurantcard a{
    text-decoration: none; /* Remove underline */
    color: #000;
}
.restaurantcardmenu > img{
    width: 16rem;
    height:14rem;
    border-radius: 10%;
}
.searchBar{
    width:20%;
}
.searchButton{
    width:5%;
    height: 22px;
}

.menudetails{
    outline: 2px solid transparent;
    margin: 10px;
}
.menudetails>img{
    width: 16rem;
    height:14rem;
    border-radius: 10%;
}

.restaurantmenu {
    display: flex;
    align-items: center;
}

.restaurantmenu a{
    text-decoration: none; /* Remove underline */
    color: #000;
}

.menu_button{
    margin: 4px;
    padding: 2px;
    background:#B0D9B1;
    border: none;
}
.menuDisplay{
    display:flex ;
}
